DAPPRADAR_API_URL=http://nft-sales-service.dappradar.com/open-source/v1
DAPPRADAR_API_KEY=your-sample-key-from-dappradar
WS_PROXY_URL=ws://nft-sales-websocket.dappradar.com
HTTP_PROXY_URL=http://nft-sales-websocket.dappradar.com

# ETHEREUM_NODE_HTTP=
# MATIC_NODE_HTTP=
# BSC_NODE_HTTP=
# AVALANCHE_NODE_HTTP=
# MOONRIVER_NODE_HTTP=
# MOONBEAM_NODE_HTTP=
# CELO_NODE_HTTP=
# AURORA_NODE_HTTP=
# BASE_NODE_HTTP=
# CRONOS_NODE_HTTP=
# ELYSIUM_NODE_HTTP=
# ZKSYNC_ERA_NODE_HTTP=